@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --color-primary: #daac00;
    --color-secondary: #fbc302;
    --color-accent: #4caf50;
    --color-text: #313243;
    --color-background: #f9f9f9;
    --color-texthf: #fff;
    --color-white: white;
    --color-hover: #00bec9;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}

.header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.header__logo img {
    height: 30px; /* Ajusta tamaño del logo*/
    width: auto;
    margin-left: 6.5rem;
}

.header__nav .header__menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.header__link {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-texthf);
    font-weight: bold;
}

.header__link:hover {
    color: var(--color-hover); 
    transform: scale(1.1); 
}

.header__search {
    display: flex;
    align-items: center;
    background-color: #fcc302;
    overflow: hidden;
    margin-right: 6.5rem;
}

.header__input {
    border: none;
    padding: 0.4rem;
    font-size: 1rem;
    flex-grow: 1;
    outline: none;
    background-color : transparent; 
}

.header__button {
    background-color: #fcc302;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header__button:hover {
    background-color: var(--color-hover);
}

.header__lupa-icon {
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease; 
}
.main {
    background-color: var(--color-background);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secondary);
    text-align:left;
    padding: 50px 100px;
    gap: 50px;
}

.hero__dog {
    flex-shrink: 0;
    max-width: 40%; /* Limita el ancho de la imagen */
} 

.hero__dogimg {
    width: 100%; /* Hace que la imagen ocupe todo el contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
    max-width: 400px; /* Máximo tamaño de la imagen */
}

.hero__text {
    color: var(--color-texthf);
    font-size: 30px;
    flex: 1;
    max-width: 45%; /* Limita el ancho del texto */
    line-height: 1;
}

.hero__title {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 10px;
    
}

.hero__description {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5; /* Mejora la legibilidad del texto */
}

.hero__button {
    padding: 10px 20px;
    background-color: var(--color-secondary);
    color: var(--color-texthf);
    border: 2px solid white;
    cursor: pointer;
    border-radius: 2px;
    font-size: 15px;
}

.hero__button:hover {
    background-color: var(--color-hover);
    border-color: var(--color-hover); 
    color: var(--color-texthf); /* Cambia el color del texto a blanco */
}

.care {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);
    text-align:left;
    padding: 50px 100px;
    gap: 10px;
}

.care__title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--color-text);
}

.care__text {
    color: var(--color-text);
    font-size: 20px;
    flex: 1;
    max-width: 45%; /* Limita el ancho del texto */
    line-height: 1;
}

.care__description {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5; /* Mejora la legibilidad del texto */
}

.care__button {
    padding: 15px 25px;
    background-color: var(--color-secondary);
    color: var(--color-texthf);
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.care__button:hover {
    background-color: var(--color-hover);
    border-color: var(--color-hover); 
    color: var(--color-texthf); /* Cambia el color del texto a blanco */
}

/* Video */
.care__video {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    max-width: 50%;
}

.care__video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.care__video-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/care/overlay-yellow.png'); /* Imagen de capa amarilla transparente */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Controla la transparencia de la capa amarilla */
    border-radius: 12px; /* Redondea las esquinas para que coincidan con la miniatura */
    z-index: 1; /* Asegura que la capa esté encima de la miniatura */
}

.care__video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.services {
    background-color: var(--color-white);
    padding: 20px;
}
.services__list {
    display: flex;
    justify-content: space-around;
}
.services__item {
    text-align: center;
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: 8px;
}

.team {
    background-color: var(--color-white);
    padding: 20px;
}
.team__members {
    display: flex;
    justify-content: space-around;
}
.team__member {
    text-align: center;
}

.posts {
    background-color: #f1f1f1;
    padding: 20px;
}
.posts__item {
    background-color: var(--color-white);
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 230px;
    background: #343434;
    padding: 15%;
    padding-left: 30px;
    padding-right: 30px;
}

footer h4 {
    font-weight: 550;
    color: var(--color-texthf);
    font-size: 30px;
    margin: 0 0 10px 0 ;
}



.footer__menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu li {
    display: block;
}

.footer__link {
    color: var(--color-texthf);
    text-decoration: none;
    font-size: 20px;
}

.footer__link:hover {
    color: #2196f3;
}

footer h5 {
    color: var(--color-texthf);
    font-size: 30px;
    margin-bottom: 0%;
    text-align: end;
}

.footer__description{
    color: var(--color-texthf);
    font-size: 20px;
    margin-top: 1%;
}


.footer__socialmedias {
    text-align: right; 
}

.footer__sociallinks {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0; /* Elimina el relleno */
    margin-top: 20px; /* Espacio entre el formulario y los íconos */
    display: flex; /* Utiliza flexbox para alinear los íconos horizontalmente */
    justify-content: flex-end; /* Alinea los íconos a la derecha */
}

.footer__sociallinks li {
    margin-left: 15px; /* Espaciado entre los íconos */
}

.footer__sociallinks__icon {
    width: 30px; /* Ajusta el tamaño de los íconos */
    height: 30px; /* Ajusta el tamaño de los íconos */
}



.footer_form-container {
    display: flex;
    align-items: center;
    background-color: #cde210;
    overflow: hidden;
}

.footer_form-input {
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    flex-grow: 1;
    outline: none;
    background-color : transparent; 
}


.footer_form-btn {
    background-color: #cde210;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer__telegram-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease; 
}

.footer_form-btn:hover {
    background-color: var(--color-hover);
}




